@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*{
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: thin;
}


#challenges-main{
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    position: relative; /* Make sure the container is positioned */
    width: 100%; /* Set the desired width */
    height: 400px; /* Set the desired height */
    overflow-x: hidden;
    background-color: rgba(0, 0, 0, 0.35);
}

#challenges-main::before{
  background-image: url('/public/images/challengesBG.jpg');
    min-height: 100vh;
    width: 100%;
    background-attachment: fixed; /* Adjust to your needs */
    position: fixed;
    background-size: cover;
  content: "";
    z-index: -1;

}
#challengeHeader{
    color:#a5dfdb;
    font-size: 3rem;
    text-align: center;
    padding-top: 15vh;
}
.challenge-grid {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  padding-bottom: 100px;
  grid-gap: 100px; /* You can adjust the gap between grid items as needed */
}

.type-button-group{
 padding-right: 4rem;
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
.button{
  color:white;
  padding: .5rem;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  border: 2px solid #476866;
  transition: box-shadow .2s;
}
.button:hover{
  color:gainsboro;
  padding: .5rem;
  background-color: rgba(0, 0, 0, 0.7);
  transition: box-shadow .2s;
  box-shadow: 0px 0px 20px #a5dfdb;
  
}
.button:first-of-type{
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.button:last-of-type{
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.challenge-type-buttons{
  width: 100vw;
  display: flex;
  flex-direction: row-reverse;
}